.artifacts{
	padding: 10px 0;
	.artifact-container {
		display: flex;
		justify-content: space-between;
		
		.artifact {
			flex: auto;
			text-decoration: none;
		}
		border-bottom: 1px solid rgba($color: #000000, $alpha: .1)
	}
}